body {
    background-color: #314448;
    color: #e0dab8;
    font-family: "Didot", Serif;
   /* border: 20px solid #c7d3bf;*/
}
#myName {
  font-family: "Gabriola", serif;
  font-size: 80px;
  width: 800px;
  padding: 0px;
  margin: 0px;
  border: 0;
 float: right;
 overflow: hidden;
  }

  @media screen and (max-width: 500px) {
    #myName {
      float: center;
      display: block;
      text-align: center;
      max-width: 100%;
      font-size:inherit;

  
    }
  }
section {
/*width: 800px;
height: 200px; */
padding: 20px;
border: 5px solid #c7d3bf;
margin: 20px;

}
h1 {
    margin: 5px;
    font-size: 40px;
    font-weight: bold;
}
h2 {
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
}
.experienceType {
    border: 3px dotted;
    border-color: #536d6c;
    margin: 5px;
}
.skills {
    border-color: #536d6c;
    margin: 5px;
}
.skills > li {
    border: 3px dotted;
    border-color: #536d6c;
    margin: 10px;
}
#replit {
  color: #e0dab8;
}
.message-label {
    font-size: 20px;
    color: #7c9a92;
}

.message-input {
    padding: 5px;
    font-size: 20px;
    font-family: 'Didot', serif;
    border:  3px dotted #536d6c;
    background-color: transparent;
    margin: 5px;
}
#submitB {
    padding: 5px;  
    border: 3px dotted #536d6c;
    background-color: transparent;
    color:#e0dab8;
}
#projectList {
  padding: 20px;
  margin: 0px;
  border: 3px dotted #536d6c;
}
.messages1 {
    border:3px outset #c7d3bf;

}

.footer {
  width: 300px;
  /*length: 100px;*/
   margin: 10px;
   /*background-color:#7c9a92;*/
}
.nav-link {
color: #c7d3bf;
}
/* for sticky navbar*/
/* Style the navbar*/
.myNavBar {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
/* right-align navigation bar */
.navbar-nav {
    padding: 5px;
}
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  /* for experience grid */
  .flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }

  /* flexbox for message form 
  .flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
*/

img {
  border-radius: 50%;
}
.responsive {
  width: 200px;
  max-width: 100%;
  height: auto;
}

.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #536d6c;
  color: white;
}
.fa-github {
  background: #536d6c;
  color: white;
}
.fa-twitter {
  background: #536d6c;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 40px;

  text-decoration: none;
  margin: 5px 80px;
  border-radius: 50%;
} 